.gsd-keyboard.settings-ported
autostart
cat_installer
com.github.babluboy.bookworm
com.github.johnfactotum.Foliate
create-next-app-nodejs
Code
Code\ \-\ OSS
dconf
discord
dsg
doctl
evolution
falkon
fragments
gedit
gh
GIMP
github-copilot
gnome-layout-switcher.conf
gnome-session
GNOME-xdg-terminals.list
goa-1.0
google-chrome
gthumb
gtk-2.0
gtk-3.0
gtk-4.0
ibus
Kvantum
manjaro-hello.json
matplotlib
mimeapps.list
monitors.xml
nautilus
ncspot
nextjs-nodejs
nitrogen
obsidian
opera
presets
pulse
qBittorrent
qt5ct
qt6ct
QtProject.conf
Thunar
touchegg
turso
user-dirs.dirs
user-dirs.locale
VirtualBox
vivaldi
xdg-terminals.list
xfce4
yay
yin_yang
astro
cef_user_data
dlv
pavucontro.ini
zoom.conf
zoomus.conf
